.App {
  min-height: 100vh;
  background: rgb(213, 177, 247);
  background: linear-gradient(
    140deg,
    rgba(213, 177, 247, 1) 0%,
    rgba(232, 232, 251, 1) 50%,
    rgba(179, 230, 232, 1) 100%
  );
}
.App-header {
  padding: 30px;
}
.App .App-header .App-logo {
  display: block;
  max-width: 200px;
  min-width: 100px;
  margin-top: 20px;
}
.App .container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fcfbfe;
  border-radius: 20px;
  padding: 30px;
}
